html {
  background: linear-gradient(45deg, #00c9ff 0%, #92fe9d 100%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-animation: pulse 5s infinte;
          animation: pulse 5s infinte;
}

