html {
  background: linear-gradient(75deg, #8aaff3 0%, #39d381 100%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-animation: pulse 5s infinte;
          animation: pulse 5s infinte;
}

