.image {
    text-align: center;
    display: flex;
}

.cat {
    display: flex;
    width: 650px;
    height: 450px;
    border: 1px solid #333;
}

.cat-text {
    width: 40%;
    position: absolute;
    color: #333333;
    font-size: 3em;
    font-weight: bold;
    right: 0;
    padding-top: 2em;
    padding-right: 3em;
}

@media screen and (max-width: 680px) {
    .cat-text {
        width: auto;
        font-size: 3em;
        padding-right: 0px;
        padding-top: 1em;
    }

    .cat {
        width: 100vw;
    }
}

@media screen and (min-width: 680px) and (max-width: 1066px) {
    .cat-text {
        width: 60vw;
        padding-right: 4em;
        padding-top: 1em;
    }
}
